.node-readmore {
  & a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      border: solid $color-blue;
      border-width: 0 3px 3px 0;
      padding: 3px;
      transform: rotate(-45deg);

      top: 3px;
      margin: 0 5px auto;

      @include respond(tab) {
        top: 3px;
      }
    }

    &:hover::after {
      content: "";
      position: absolute;
      border: solid $color-red;
      border-width: 0 3px 3px 0;
      padding: 3px;
      transform: rotate(-45deg);

      top: 3px;
      margin: 0 5px auto;

      @include respond(tab) {
        top: 3px;
      }
    }
  }
}
