@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$color-red: #ff5252;
$color-blue: #0097a7;
$color-dark-blue: #161e21;
$color-white: #ffffff;
$color-black: #101010;
$color-light-grey: #d4d4d4;
$color-medium-grey: #949494;

$color-small-figure: #1d1524;
$color-big-figure: #0f2123;

$color-footer: #1e2c2e;

$roboto-font: "Roboto", sans-serif;
